<header class="app-header">
  <div class="header-container">
    <div class="header-left">
      <div class="app-brand">
        <div class="app-icon">
          <svg width="28" height="28" viewBox="0 0 24 24" fill="currentColor">
            <path d="M4,6H6V18H4V6M7,6H9V18H7V6M10,6H12V18H10V6M13,6H15V18H13V6M16,6H18V18H16V6M19,6H21V18H19V6M2,4V8H22V4H2M2,16V20H22V16H2Z"/>
          </svg>
        </div>
        <div class="app-info">
          <h1 class="app-name">Kanban Board</h1>
          <span class="app-tagline">Organize your tasks efficiently</span>
        </div>
      </div>
    </div>
    
    <div class="header-right">
      <app-theme-toggle></app-theme-toggle>
      <app-user-profile></app-user-profile>
    </div>
  </div>
</header>